.divelectro {

    .divelectro_hedear   {
        
   

    }
    &_cequeodiv   {
        margin-top: 50px;
        height: 500px;
   
        .divelectro_cequeodiv_chequeo   {
                border-radius: 1%;
                padding: 30px;
                border: solid 1px;
                width: 70%;
                height: 500px;
                background-color: #FCFFE7 ;
            

        }
   
   
    }
   
}
   
        