.Fotprinc {
    background-color:#fefdfd ;
   
    &__compras {
        display: flex;
        justify-content: center;   
        }
      
       &__li  {
         list-style: none;
         font-size: 20px;
         }  
   
  
  
}