@import "./variables";

.Fotprinc {
  background-color: map-get($map: $colores, $key: vase );
  
   
    &__compras {
        display: flex;
        justify-content: center;   
        }
      
       &__li  {
         color: map-get($map: $colores, $key:parrafo );
         list-style: none;
         font-size: 20px;

         }  
   
       
}