@import "./variables";

.MainconT {
    background-color: $color;
   
    &__Fieldste  {
      background-color: map-get($map: $colores, $key: formularios);
       
        border: solid 1px;
        margin-top: 50px;
        border-radius: 2%;
        margin-right: 10px;
     }

         &__Card  {
         margin-top: 10px;
          display: flex;
         justify-content: center;
           background-color:#f4eafd ;
         margin-top: 50px;
         border-radius: 2%;
       }
    

}
.card-text  {
  @extend .Fotprinc__li;

}