
@mixin box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin box1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
     width: 100%;
    
}