.Pagos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffffff ;
     .pagos__lista {

        display: flex;
         list-style: none;
         width: 100%;
        justify-content: space-around;
         }
    

}
