
.DivimG {

.DivimG_hrfe    {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

    .DivimG__HEDEr  {
        width: 140px;

    }
    .DivimG__TitLe  {
        
        color: beige;

    }

}



.Items {
    height: 300px;
   &__uls  {
       border-radius: 2%;
    background-color: #FCF8E8;
    margin-top: 100px;

    }
    &__lis1     {
        list-style: none;

    }
    }

.Ullist__fOTER  {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f4f4f4 ;

    .Ullist__fotter {
        display: flex;
      
        list-style: none;
        width: 100%;
        justify-content: space-around;
       

    }
    @media screen and (max-width:768px) {
    .Ullist__pagos  {
      
        margin: 10px;

    }
}
}