
.DivimG {
display: flex;
flex-direction: column;
align-items: center;

    .DivimG__HEDEr  {
        width: 140px;

    }
    .DivimG__TitLe  {
        color: beige;

    }
    
@media screen and (max-width:1024px)    {
    .DivimG__TitLe  {
        color: beige;
        width: 50%;

    }


}

}



.Items {
    height: 300px;
   &__uls  {
       border-radius: 2%;
    background-color: #FCF8E8;
    margin-top: 100px;

    }
    &__lis1     {
        list-style: none;

    }
    }