@import "./parciales/variables";
@import "./parciales/mixins";
@import "./parciales/reset";

@import "./parciales/MainconT";
@import "./parciales/Fotprinc";
@import "./parciales/pagostarjetas";
@import "./parciales/sectionindex";
@import "./parciales/electro";


 
.lOgO   {
    width: 200px;
    }

.nav-item   {
    margin-left: 30px;
    }
.divfootER  {
    display: flex;
    background-color: black;
    justify-content: center;
   
}
